.refer-btn-design{
    display: inline-block;
    margin-bottom: 80px !important;
    background: #fff;
    width: 100%;
    padding: 10px;
    padding-top: 10px !important;
}
.text-decor-refer{
    color: #fff !important;
    letter-spacing: 0.5px;
}